body {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  word-wrap: break-word;
  height: 100%;
}

.logo {
  width: 250;
  height: 250;
}

.App {
  display: flex;
  flex-direction: column;
}

